            server {
                listen 3000; # Port pour le frontend
                server_name frontend.com;

                location / {
                    proxy_pass http://frontend:80; 
                    proxy_set_header Host $host;
                    proxy_set_header X-Real-IP $remote_addr;
                    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                }
            }
            server {
                listen 3001; # Port pour le backend (port différent pour éviter les conflits)
                server_name backend.com;

                location / {
                    proxy_pass http://backend:8080; # Redirige vers le service Docker du backend
                    proxy_set_header Host $host;
                    proxy_set_header X-Real-IP $remote_addr;
                    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                }
            }
            http {
                include       mime.types;
                default_type  application/octet-stream;

                # Logs pour debug si nécessaire
                access_log  /var/log/nginx/access.log;
                error_log   /var/log/nginx/error.log;

                sendfile        on;
                keepalive_timeout  65;
            }
